{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% load tz%}

<section class='text-center container'>

    <div class="container">

        <div class="content-section p-0 mt-1">

            <div class="m-0">
                <p><span style="color:red">AUTHOR:{{detail.author|upper}}</span></p>
                <h4>{{detail.title|upper}}</h4>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{detail.description}}
            </p>
            <hr>
            <div class="m-0">
                <span style="color:red">Created_at:{{detail.created_at|date:"F j, Y" }}</span>
            </div>
        </div>

    </div>

</section>

{% endblock content %}