{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section class='text-center container'>
    <h2>Search Videos in Youtube</h2>
    <p>search videos and select any video to open in youtube</p>
    <form action="" method="post">
        {%csrf_token%}
        {{form}}
        <input class="btn btn-danger" type="submit" value="Submit">
    </form><br>
    {%if not error%}
   {% for youtube in lists%}
    <a href="{{youtube.link}}" target="_blank">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{youtube.thumbnail}}" alt="">

                    </div>
                    <div class="col-md-7">
                        <h3 class="p-0 m-0">{{youtube.title}}</h3>
                        <b>
                            <u>
                                <h5 class="p-0 m-0">{{youtube.channel}}</h5>
                            </u>
                        </b>
                        <h6 class="p-0 m-1">{{youtube.description}}</h6>
                        <b>
                            <h6 class="ml-0 mt-3"><span>Duration:</span>{{youtube.duration}}</h6>
                            <h6 class="ml-0 mt-1"><span>Views:</span>{{youtube.views}}</h6>
                            <h6 class="ml-0 mt-1"><span>Published_date:</span>{{youtube.publish}}</h6>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>
    {%endfor%}
    {% elif error %}
    <h2 style="color:red"><b>Error:</b>({{error}} Error),Enter correct word and check your internet connection. </h2>
    {%endif%}
</section>

{% endblock content %}